html {
	padding: 0;
	margin: 0;
}

#index {
	background-image: url("img/bg-index.jpg");
}

h1, h2, p, a {
	font-family: "Montserrat", Arial, sans-serif;
}

h1 {
	margin-left: 300px;
	margin-bottom: 50px;
	padding: 30px 0;
	display: block;
	text-align: left;
	font-weight: bold;
	border-bottom: solid 1px #ffffff;
}

p.cat {
	text-align: center;
}

p {
	display: block;
	float: right;
	clear: both;
	padding: 20px;
	width: 500px;
	font-size: 18px;
	text-align: left;
	color: #12e6c8;
	background-color: #1e0e52;
	border: solid 5px #12e6c8;
	transition: width 1s ease, background-color 0.7s ease, color 0.7s ease;

}

p:hover {
	width: 700px;
	color: #a287f4;
	background-color: #12e6c8;
	border: solid 5px #a287f4;
	transition: width 1s ease, background-color 0.7s ease, color 0.7s ease;
}

a {
	text-align: left;
	color: #12e6c8;
	text-decoration: none;
	transition: width 1s ease, background-color 0.7s ease, color 0.7s ease;

}

a:hover {
	color: #a287f4;
	text-decoration: none;
	transition: width 1s ease, background-color 0.7s ease, color 0.7s ease;
}

#footer {
	display: block;
	margin-right: 300px;
	margin-top: 200px;
	clear: both;
	height: 70px;
	display: block;
	border-top: solid 1px #ffffff;
}

/* geo */

#pt-pays {
	background-image: url("img/geo/bg-pt-pays.jpg");
}

#cinq-tigres {
	background-image: url("img/geo/bg-5tigres.jpg");
}

#dernier-ue {
	background-image: url("img/geo/bg-croatie.jpg");
}

#derniere-merveille {
	background-image: url("img/geo/bg-merveille.jpg");
}

#peuple {
	background-image: url("img/geo/bg-peuple.jpg");
}

#montagnes {
	background-image: url("img/geo/bg-montagne.jpg");
}

#constantinople {
	background-image: url("img/geo/bg-turquie.jpg");
}

#cathedrale {
	background-image: url("img/geo/bg-cathedrale.jpg");
}

#cap-bresil {
	background-image: url("img/geo/bg-bresil.jpg");
}

#gde-barriere {
	background-image: url("img/geo/bg-barriere-corail.jpg");
}

#commonwealth {
	background-image: url("img/geo/bg-commonwealth.jpg");
}

#gaborone {
	background-image: url("img/geo/bg-gaborone.jpg");
}

#meandre {
	background-image: url("img/geo/bg-meandre.jpg");
}

#lac {
	background-image: url("img/geo/bg-lac.jpg");
}

#tcheliabinsk {
	background-image: url("img/geo/bg-tcheliabinsk.jpg");
}

#brunei {
	background-image: url("img/geo/bg-brunei.jpg");
}

#perche {
	background-image: url("img/geo/bg-perche.jpg");
}

#afghanistan {
	background-image: url("img/geo/bg-afghanistan.jpg");
}

#peu-peuple {
	background-image: url("img/geo/bg-peu-peuple.jpg");
}

#inde {
	background-image: url("img/geo/bg-inde.jpg");
}